services:
  - type: web
    name: fazenda-peixeboi-api
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 5000
      - key: CORS_ORIGIN
        value: https://www.fazendapeixeboi.com
